{% extends 'base.html' %}

{% block style %}
    <style>
        .collection .collection-item.avatar {
            padding-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            {% if authors %}
                <ul class="collection">
                    {% for author in authors %}
                        <li class="collection-item avatar">
                            <div class="row">
                                <div class="col s12 m2">
                                    <img src="{{ author.img_url }}" alt="" class="materialboxed responsive-img">
                                </div>
                                <div class="col s12 m10">
                                    <span class="title">
                                        <a href="{{ url_for('author_detail', id=author.id) }}">{{ author.name }}</a>
                                    </span>
                                    <br><br>
                                    <p>
                                        {% autoescape false %}
                                            {{ author.description|replace("\n", "<br/>") }}
                                        {% endautoescape %}
                                    </p>
                                </div>
                            </div>
                            
                            <div class="secondary-content">
                                <div>
                                    <a href="{{ url_for('author_edit', id=author.id) }}" ><i class="material-icons">edit</i></a>
                                </div>
                                <div>
                                    <a href="{{ url_for('author_remove', id=author.id) }}" onclick="return confirm('Realemente deseja deletar esse livro?')"><i class="material-icons red-text">delete</i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>Não há autores cadastrados</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });
    </script>
{% endblock %}
