<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

    {% block style %}{% endblock %}

    <title>Estante Virtual - {{ title }}</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('home') }}" class="brand-logo">Estante Virtual</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('book_add') }}">Adicionar Livro</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('book_add') }}">Adicionar Livro</a></li>
    </ul>

    <main class="container">
        <header class="row">
            <div class="col s12">
                <h2>{{ title }}</h2>
            </div>
        </header>

        {% block content %}{% endblock %}
    </main>
    
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    {% block script %}{% endblock %}
    
</body>
</html>