<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

    {% block style %}{% endblock %}

    <title>
        {% block title %}
            Estante Virtual - {{ title }}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('home') }}" class="brand-logo">Estante Virtual</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('book_add') }}">Adicionar Livro</a></li>
            </ul>
            <form method="GET" action="{{ url_for('book_search') }}" class="hide-on-med-and-down">
                <div class="right input-field">
                    <input type="search" name="search" placeholder="Buscar Livro" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('book_add') }}">Adicionar Livro</a></li>

        <form method="GET" action="{{ url_for('book_search') }}">
            <div class="input-field">
                <input type="search" name="search" placeholder="Buscar Livro" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </ul>

    <main class="container">
        <header class="row">
            <div class="col s12">
                {% block content_title %}
                    <h2>{{ title }}</h2>
                {% endblock %}
            </div>
        </header>

        {% block content %}{% endblock %}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Estante Virtual</h5>
                    <p class="grey-text text-lighten-4">CRUD de Livros feito em Python, Flask e algumas extenções.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Libs utilizadas nesse projeto</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://pypi.org/project/Flask/">Flask</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://pypi.org/search/?q=flask-sqlalchemy">Flask-SQLAlchemy</a></li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="https://pypi.org/project/python-dotenv/">python-dotenv</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Desenvolivdo por <a class="grey-text text-lighten-4" href="https://github.com/CleysonPH" target="_blank">CleysonPH</a>
                <a class="grey-text text-lighten-4 right" href="https://github.com/CleysonPH/flask-virtual-bookshelf" target="_blank">Código Fonte</a>
            </div>
        </div>
    </footer>
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    {% block script %}{% endblock %}
    
</body>
</html>